name: Metrics
on:
  schedule:
    - cron: "0 3 * * *"   # AUto Update（UTC 3am）
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: itsraindi
          template: classic
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          filename: github-metrics.svg
          output_action: commit
          committer_branch: main
